flask
flask_cors
werkzeug
langchain
groq
requests
langchain_groq
pydantic
python-dotenv
Flask-SQLAlchemy
Flask-Migrate
Flask-JWT-Extended
Flask-SocketIO
eventlet
pymysql
sqlalchemy
authlib
python-multipart
